body {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.contentChild {
    /* margin-left: 50px;
    margin-right: 50px;
    width: 100%; */
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

h3 {
    font-size: 30px;
}

.headline {
    height: fit-content;
}

.head2 {
    color: blue;
}

.userImgContainer {
    padding-top: 82px
}

.userImg {
    height: 100px;
    width: 150px;
    border-radius: 10px;
}

.taskData {
    background-color: #EBEDFC;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
    box-shadow: 0 0px 8px 0;
    width: 100%;
}

.taskDataParents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.taskDataChild {
    width: 50%;
}

.input {
    width: 99%;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

input[type="date"] {
    align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    /* padding-inline-start: 100px; */
    cursor: default;
    overflow: hidden;
    padding: 15px 2px;
}

input[type="text"] {
    padding: 16px 2px;
}

.inputselect {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

.textArea {
    width: 176px;
    height: 74px;
    padding: 5px;
    border-radius: 5px;
}

.btns {
    padding-top: 10px;
}

.addImg {
    cursor: pointer;
}

.d-none {
    display: none;
}

.users {
    background-color: white;
    position: absolute;
    top: 25px;
    left: 200px;
    right: 0px;
    bottom: 15px;
    border: 1px solid black;
    box-shadow: inset 0 0 1em blue, 0 0 1em black;
}

.users img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
}

.userCart {
    display: flex;
    font-size: 35px;
    cursor: pointer;
    align-items: center;
}

.userCart:hover {
    background-color: #d4edda;
}

.userImg {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.addBtn {
    border: 0;
    padding: 10px;
    background-color: #6098ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #00000052;
}

.addBtn:hover {
    background-color: #347afa;
}

@media (max-width: 1000px) {
    .contentChild {
        margin-left: 0px !important;
        margin-right: 0px !important;
        overflow-y: scroll;
        display: block;
        padding-left: unset;
        padding-right: unset;
    }
    .addTaskHead {
        padding-top: 5px;
        text-align: center;
    }
    .taskData {
        margin-top: 50px;
        border-radius: unset;
        padding-left: unset;
        padding-right: unset;
        padding-bottom: 15px;
    }
    .taskDataParents {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
    }
    .taskDataChild {
        width: 100%;
    }
    .taskDataChild h3 {
        text-align: center;
    }
    .input {
        margin-left: 13px;
        width: 90%;
    }
    .inputselect {
        margin-left: 13px;
        width: 92%;
    }
    body {
        overflow: unset;
    }
    .textArea {
        margin-left: 13px;
        width: 89%;
    }
    .users {
        position: unset;
    }
    .userCart {
        flex-direction: column;
        font-size: 16px;
    }
    .addBtn {
        margin-left: 13px;
        width: 90%;
        margin-top: 10px;
        padding: 15px;
        font-size: 16px;
    }
}