body {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.contentChild {
    /* margin-left: 50px;
    margin-right: 50px;
    width: 100%; */
    flex: 1;
    margin: 2%;
    margin-top: 5%;
}

h3 {
    font-size: 30px;
}

.headline {
    height: fit-content;
}

.head2 {
    color: blue;
}

.userImgContainer {
    padding-top: 82px
}

.userImg {
    height: 100px;
    width: 150px;
    border-radius: 10px;
}

.taskData {
    background-color: #EBEDFC;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0px 8px 0;
}

.taskDataParents {
    display: flex;
    justify-content: space-between;
}

.taskDataChild {
    padding-right: 30px;
}

.input {
    width: 100%;
    padding: 13px;
    border-radius: 5px;
}

.inputselect {
    width: 100%;
    padding: 15px;
}

.textArea {
    width: 176px;
    height: 74px;
    padding: 5px;
    border-radius: 5px;
}

.btns {
    padding-top: 40px;
}

.addImg {
    cursor: pointer;
}

.d-none {
    display: none;
}

.users {
    background-color: white;
    position: absolute;
    top: 25px;
    left: 200px;
    right: 0px;
    bottom: 15px;
    border: 1px solid black;
    box-shadow: inset 0 0 1em blue, 0 0 1em black;
}

.users img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
}

.userCart {
    display: flex;
    font-size: 35px;
    cursor: pointer;
    align-items: center;
}

.userCart:hover {
    background-color: #d4edda;
}

.userImg {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.addBtn {
    border: 0;
    padding: 10px;
    background-color: #6098ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #00000052;
}

.addBtn:hover {
    background-color: #347afa;
}

@media (max-width: 1000px) {
    .contentChild {
        margin-left: 0px !important;
        margin-right: 0px !important;
        overflow-y: scroll;
    }

    .addTaskHead {
        text-align: center;
    }
    .taskData {
        /* margin-top: 55px; */
        border-radius: unset;
    }
    .taskDataParents {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
    }
    .input {
        width: 100%;
    }
    .inputselect {
        width: 110%;
    }
    body {
        overflow: unset;
    }
    .textArea {
        width: 100%;
        padding: 15px;
    }
    .users {
        position: unset;
    }
    .userCart {
        flex-direction: column;
        font-size: 16px;
    }
    .addBtn {
        width: 110%;
        margin-top: 10px;
        padding: 15px;
        font-size: 16px;
    }
}