body {
    font-family: 'Raleway', sans-serif;
}

.contentMain {
    padding-left: 25px;
    padding-right: 25px;
}

.headlines {
    margin-top: 75px;
}

.head1 {
    margin: 0;
}

.head2 {
    color: blue;
}

.mainSection {
    height: 600px;
    /* background-color: burlywood; */
    margin-top: 20px;
}

.mainSectionHeadlines {
    display: flex;
}

.testContent {
    display: flex;
    justify-content: space-between;
}

.mainHead1 {
    width: 30%;
    display: flex;
}

.mainHead2 {
    width: 30%;
    text-align: center;
}

.mainHead3 {
    width: 40%;
    text-align: end;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: end;
}

.detailClass {
    width: 40%;
    text-align: end;
}

.firstSection {
    width: 30%;
}

.secondSection {
    width: 30%;
}

.mainSectionHeadlinesJS {
    padding: 10px;
    background-color: #a9a9a978;
    margin-top: 15px;
    border-radius: 10px;
}

.centerJS {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHead1Img {
    width: 8pc;
    height: 8pc;
    object-fit: cover;
}

.nameMailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
}

.btnStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}