body {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.contentMain {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
}

.headlines {
    margin-top: 75px;
}

.head1 {
    margin: 0;
}

.head2 {
    color: blue;
}

.mainSection1 {
    height: 600px;
    margin-top: 20px;
}

.mainSection {

    height: 512px;
    /* margin-top: 20px; */
    overflow: auto;
}

.mainSectionHeadlines {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.testContent {
    display: flex;
    justify-content: space-between;
}

.mainHead1 {
    width: 30%;
    display: flex;
}

.mainHead2 {
    width: 30%;
    text-align: center;
}

.mainHead3 {
    width: 40%;
    text-align: end;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1%;
}

.detailClass {
    width: 40%;
    text-align: end;
}

.firstSection {
    width: 30%;
}

.secondSection {
    width: 30%;
}

.mainSectionHeadlinesJS {
    padding: 10px;
    background-color: #a9a9a978;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0;
    cursor: pointer;
}

.d-none {
    display: none;
}

.leftBorderPeter {
    border-left: 15px solid red;
}

.leftBorderAli {
    border-left: 15px solid green;
}

.leftBorderSani {
    border-left: 15px solid blue;
}

.centerJS {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHead1Img {
    width: 8pc;
    height: 8pc;
    object-fit: cover;
    border-radius: 10px;
}

.nameMailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
}

.btnStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addBtn {
    border: 0;
    padding: 5px;
    background-color: #6098ff;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 75ms ease-in-out;
    border: 1px solid #00000052;
    padding-left: 10px;
    padding-right: 10px;
}

.addBtn:hover {
    transform: scale(1.05);
    background-color: #347afa;
}

.detailContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffffe6;
    display: flex;
    justify-content: center;
}

.detailContent {
    width: 50%;
    height: 50%;
    margin-top: 15%;
    background-color: #dbdada;
    position: relative;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.detailContentStats {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.closeBtnDetail {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 75ms ease-in-out;
}

.closeBtnDetail:hover {
    transform: scale(1.05);
}

.padding {
    padding-left: 5%;
}

@media (max-width: 1000px) {
    .contentMain {
        padding-left: unset;
        padding-right: unset;
        margin-right: unset;
        margin-left: unset;
    }

    body {
        overflow: unset;
    }

    .headlines {
        margin-top: 6.5em;
        text-align: center;
    }

    .mainHead1 {
        font-size: 1.2em;
        height: fit-content;
    }

    .mainHead1Img {
        width: 5em;
        height: 4em;
    }

    .centerJS {
        position: absolute;
        bottom: 2.5em;
        left: 0;
        font-weight: 600;
    }

    .mainHead3 {
        width: 53%;
        font-size: 1em;
        padding-right: 1em;
    }

    .nameMailContainer {
        display: none;
    }

    .mainSectionHeadlinesJS {
        height: 10em;
        position: relative;
    }

    .h2Responsive {
        display: none;
    }

    .descriptionClass {
        display: flex;
        align-items: flex-start;
        overflow: auto;
    }

    .btnStyle {
        justify-content: space-between;
    }

    .addBtn {
        background-color: #6098ff;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .detailContainer {
        background-color: #ffffff00;
        z-index: 100;
    }

    .detailContent {
        background-color: white;
        width: 100%;
        height: 100%;
        margin-top: 22%;
    }

    .mainDetailContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 25%;
        padding-right: 10%;
        padding-left: 10%;
    }

    .detailContentStats {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid;
        padding-top: 5%;
    }

    .closeBtnDetail {
        padding-right: 10%;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .detailContent {
        height: 80%;
        margin-top: unset;
        margin-top: 12%;
    }

    .mainDetailContent {
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
    }

    .closeBtnDetail {
        padding-right: 15%;
    }
}