body {
    font-family: 'Raleway', sans-serif;
}

.contentMainHelp {
    flex: 1;
    margin: 15px 35px;
}

.buttonContainer {
    background-color: #F6F8FC;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}

.buttonHead {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.imgHelp {
    width: 550px;
    height: 360px;
    object-fit: contain;
}

.buttonJs {
    color: white !important;
    background-color: #102389 !important;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button {
    padding: 16px;
    border-radius: 12px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.headlineStyle {
    margin: 0;
}

.textStyle {
    margin: 0;
    margin-bottom: 10px;
}

.imgHelpBoard {
    width: 550px;
    height: 310px;
    object-fit: contain;
}


/* .firstTextStyle {
    margin: 0;
    margin-bottom: 10px;
} */

@media (max-width: 1000px) {
    .buttonHead {
        padding: 1em;
    }

    .button {
        padding: 1em;
        margin-left: 10px;
    }

    .buttonContainer {
        border-radius: unset;
        margin-top: 1em;
        border: unset;
        background-color: #ebedfc;
    }

    .imgHelp {
        width: 100%;
        height: 16em;
    }

    .textStyle {
        margin-bottom: unset;
        margin: 1em;
    }

    .imgHelpBoard {
        width: 100%;
        height: 15em;
    }

    .contentMainHelp {
        margin: unset;
        margin-top: 5em;
    }

    .headlinesHelp {
        text-align: center;
    }

    .firstTextStyle {
        padding: 1em;
    }
}